
.container {
    width: 50rem;
    height: 20rem;
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    align-items: center;
    flex-direction: column;
}

form div{
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

form div > label {
    padding: 0.5em 1em 0.5em 0;
    flex: 1;
}
form div > input {
    flex: 2;
}

input {
    border: 1px solid black;
    border-radius: 0.5rem;
}

.removeItem {
    display: flex;
    width: 26rem;
    margin: 0 auto;
    justify-content: space-between;
}
