.container {
    margin-top: 0;
    background-color: #9cb4d2;
}

.list {
    gap: 4rem;
    color: pink;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.list a {
    list-style: none;
    color: aliceblue;
    text-decoration: none;
}

h3{
    margin-top: 0rem;
    color: rgb(255, 255, 255);
}

img{
    max-width: 200px;
    height: 200px;
}

/* #8f85b2 */
/* color: rgb(238, 176, 187); */