.container {
    margin-top: 0;
    background-color: #9cb4d2;
    flex-wrap: wrap;
}

.list {
    gap: 4rem;
    color: pink;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.list a {
    list-style: none;
    color: aliceblue;
    text-decoration: none;
}

h3 {
    margin-top: 0rem;
    color: white;
}

.pinkColored {
    color: rgba(229, 164, 176, 0.9);
}

img {
    max-width: 200px;
    height: 200px;
}

h6{
    color: rgba(141, 164, 192, 0.9);
}

/* #8f85b2 */
/* color: rgb(238, 176, 187); */

.loading {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: #090707;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
        transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
  }