.container{
    display: flex;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 1rem;
    margin-bottom: 0.3rem;
    justify-content: center;
    background-color: aquamarine;
}