.header {
    margin: 0 auto;
    display: flex;
    padding: 2rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
}

.list {
    gap: 1rem;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.list a {
    list-style: none;
    color: aliceblue;
    text-decoration: none;
}
.list a:hover, .list a:active { 
    opacity: 0.69;
    color: white;
    padding-bottom: 1rem;
    text-decoration: underline;
}

