.header {
    margin: 0 auto;
    display: flex;
    padding: 2rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
    justify-content: space-between;
}

.list {
    gap: 1rem;
    display: flex;
    list-style-type: none;
}

.list a {
    color: aliceblue;
    list-style: none;
    text-decoration: none;
}

.list a:hover {
    opacity: 0.34;
}
